html {
	box-sizing: border-box;

	font-size: 62.5%;

	word-break: break-word;

	min-height: 100vh;

	background-color: #fff;
	color: #3d3d3d;

	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*,
*::after,
*::before {
	box-sizing: inherit;

	padding: 0;

	margin: 0;
}

.container {
	max-width: 130em;
	margin: 0 auto;

	padding: 2em 0;

	@media screen and (max-width: 134em) {
		padding: 2em 4em;
	}
}

.gradient-text {
	background: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bold {
	font-weight: 700;
}

.uppercase {
	text-transform: uppercase;
}

.button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 2.4rem 2rem;
	border-radius: 2.4rem;

	position: relative;

	background-color: #fff;

	font-weight: 300;
	font-size: 1.6rem;

	margin: 0.4rem;

	transition: all 0.3s ease-in-out;
}

.button::after {
	content: '';
	position: absolute;
	z-index: -2;
	border-radius: 2.7rem;
	background-color: #8ec5fc;
	background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
	width: calc(100% + 0.8rem);
	height: calc(100% + 0.8rem);
	top: -0.4rem;
	left: -0.4rem;
}

.button:hover {
	background-color: rgb(255, 255, 255, 0.92);
}

.button-floating {
	position: absolute;
	bottom: 8rem;
	right: 8rem;
}

.button-circle {
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
}

.button-circle::after {
	border-radius: 50%;
	width: calc(100% + 1.2rem);
	height: calc(100% + 1.2rem);
	top: -0.6rem;
	left: -0.6rem;
}
