.landing {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	align-self: baseline;
	gap: 16rem;
}

.landing-heading {
	letter-spacing: 0.24rem;
	font-weight: 800;
	font-size: 6rem;
	text-align: left;
	line-height: 1.4;
	align-self: baseline;
}

.heading-underline {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		bottom: -1rem;
		left: -0.5rem;
		right: 1.5rem;
		height: 2rem;
		z-index: -1;

		background-image: url('/images/underline.png');
		background-repeat: no-repeat;

		background-size: cover;
	}
}

.landing-main-cols {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: space-between;
	gap: 12rem;
}

.landing-text-box {
	font-size: 1.8rem;
	color: #a4a7b6;
	line-height: 1.7;
	white-space: nowrap;
}

.landing-text-box > p:not(:last-child) {
	margin-bottom: 2rem;
}

.landing-text-box > .gradient-text {
	margin-bottom: 2rem;
	display: inline-block;
	font-size: 2rem;
}
