.logo {
	font-size: 6.2rem;
	text-transform: uppercase;
	font-weight: 700;
	width: fit-content;
	cursor: pointer;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 3.2rem;
}

.button-group {
	display: flex;
	flex-direction: row;
	gap: 2.4rem;
	justify-content: center;
	align-items: center;
}

.credits-value-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;
}

.credits-amount {
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 32px;
}

.credits-icon {
	width: 3rem;
	height: 3rem;
}
