.logo {
	font-size: 6.2rem;
	text-transform: uppercase;
	font-weight: 700;
	width: fit-content;
	cursor: pointer;
}

.button-group {
	display: flex;
	flex-direction: row;
	gap: 2.4rem;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
