.survey-review {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.survey-review-item {
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 0.8rem;
}

.survey-review-label {
	font-size: 2.2rem;
	letter-spacing: 0.3rem;
}

.survey-review-data-field {
	padding: 2.4rem 2rem;
	padding-left: 0;
	border-radius: 2.4rem;
	width: 100%;
	border: none;

	font-size: 1.6rem;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	color: #979797;

	white-space: nowrap;
	overflow: overlay;
}
